@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8b33fd70;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a33fd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a33fd;
}

/* styles/globals.css */
.flying-img {
  position: absolute;
  animation: fly_to_cart 2s ease-in-out;
  -webkit-animation: fly_to_cart 2s ease-in-out;
}

@keyframes fly_to_cart {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: calc(var(--left) + 40px);
    top: var(--top);
    transform: scale(0.2);
  }
}

